.product-widget-container{	
	min-width: 200px;
	max-width: 100%;

	.product-widget-inner{
		padding: 10px;
		border: solid 1px #e5e5e5;
		margin-bottom: 10px;

		img{
			width: 100%;
		}

		h3{
			font-size: 16px;
			text-align: center;
			margin:0;
		}
		.star-rating{
			text-align: center;
			.fa{
				color: #16a8dd;
			}
		}
	}
}